h1{
    text-align: center;
}
table{
    border: 1px solid rgb(186, 183, 183);
    width: 1200px;
    height: 200px;
    margin: auto;
}
th,td{
    text-align: center;
}
th{
    background-color: cornflowerblue;
    color: aliceblue;
}
.gray{
    background-color: rgb(205, 205, 205);
}
body{
    background-color: rgb(243, 231, 215);
}